<div class="container-fluid">
    <div class="row container-contact">

          <div id="notice" class="alert alert-danger">
            <strong></strong>Warning!zzzzz</strong> <%= notice %>
          </div>
          
          <p>
            <strong>Username:</strong>
            <%= @user.username %>
          </p>
          
          <p>
            <strong>Password:</strong>
            <%= @user.password %>
          </p>
          
          <%= link_to 'Edit', edit_user_path(@user) %> |
          <%= link_to 'Back', users_path %>
          
          
    </div>
</div>
